.container-500 {
    background-color: rgb(170, 166, 166);
    width: 500px;
    border-radius: 15px;
}

.head{
    display: flex;
    justify-content: center;
}

.btn1{
    text-align: center;
    margin: auto;
    display: flex;
}

.login_img{
    margin: auto;
    display: flex;
}